POSTGRES_DB=hardtech_catalog
POSTGRES_USER=hardtech
POSTGRES_PASSWORD=hardtech

MYSQL_DATABASE=hardtech_orders
MYSQL_USER=hardtech
MYSQL_PASSWORD=hardtech
MYSQL_ROOT_PASSWORD=root

AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

DYNAMODB_ENDPOINT=http://localstack:4566
S3_ENDPOINT_URL=http://localstack:4566
USERS_TABLE=users
S3_BUCKET=hardtech-datalake
